<div class="main">
<img #slide  [src]="[displayImg]" />
    <!-- <div class="slide-icons"> -->
        <mat-icon class="slide-icons" (click)="changePreviousImage()">keyboard_arrow_left</mat-icon>
        <mat-icon class="slide-icons2" (click)="changeImage()">keyboard_arrow_right</mat-icon>
    <!-- </div> -->
    <!-- <div class="lower">
        <img [src]="[img]" alt="" *ngFor="let img of images">
    </div> -->
    <!-- <mat-icon *ngFor="let count of images">fiber_manual_record</mat-icon> -->
</div>