<mat-toolbar class="tool-bar">
  <header class="title">Shopwise</header>
  <div class="menu-items">
    <!-- <a mat-button href="">Home</a>
    <a mat-button href="">Pages</a>
    <a mat-button href="">Product</a>
    <a mat-button href="/category">Blog</a>
    <a mat-button href="/shop">Shop</a>
    <a mat-button href="/profile">Contenct us</a> -->
    <mat-list-item>
      <button mat-button routerLink="/">HOME</button>

    </mat-list-item>
    <!-- <mat-menu #home="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu> -->
    <mat-list-item>
      <button mat-button [matMenuTriggerFor]="pages">PAGES<mat-icon>arrow_drop_down</mat-icon></button>
    </mat-list-item>
    <mat-menu #pages="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <mat-list-item>
      <button mat-button  routerLink="products">PRODUCT</button>
    </mat-list-item>
    <!-- <mat-menu #product="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu> -->
    <mat-list-item>
      <button mat-button [matMenuTriggerFor]="blog">BLOG<mat-icon>arrow_drop_down</mat-icon></button>
    </mat-list-item>
    <mat-menu #blog="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <mat-list-item>
      <button mat-button [matMenuTriggerFor]="shop">SHOP<mat-icon>arrow_drop_down</mat-icon></button>
    </mat-list-item>
    <mat-menu #shop="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <mat-list-item>
      <button mat-button [matMenuTriggerFor]="contect">CONTACT US</button>
    </mat-list-item>
    <mat-menu #contect="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <!-- <button mat-button><mat-icon>search</mat-icon></button> -->
   
      <input type="text" placeholder="Search..." class="search-file-styles" [(ngModel)]="userInput" (keyup)="keyUp(userInput)">
     
   
    <!-- <mat-form-field>
      <input type="text" matInput placeholder="Search">
      </mat-form-field> -->
    <button mat-button routerLink="/wishList"><mat-icon>favorite_border</mat-icon></button>
    <button mat-button (click)="cardContainer()" ><mat-icon>add_shopping_cart</mat-icon><span class="badge">{{cardItems.length}}</span></button>
    <!-- <mat-menu #card="matMenu" > -->
      

    <!-- </mat-menu> -->
   
   
    
  </div>

 

</mat-toolbar>
<!-- 
<div>
  <div class="container">
    <div class="yourCard">your card</div>
    <div class="removeAll">RemoveAll</div>
  </div>
  <div class="card-container" *ngFor="let item of cardItems">
  <div class="col-4">
    <img [src]="[item.productImageUrl]" alt="">
  </div>
</div>
</div> -->

<div *ngIf="showCardDetails && cardItems.length !=0" class="container">
  <div class="remove-all">
    <span>Your Card</span>
    <span class="text-danger">Remove All</span>
  </div>
  <div class="card-container" *ngFor="let item of cardItems">
    <div class="left">
      <img [src]="[item.productImageUrl]" alt="">
      <div class="product-details">
        <span>{{item.productName | slice:0:40}}...</span>
       
        <p><span class="text-danger">&#8377;{{item.productPrice}} </span><span style="margin-left:30px;">Qty: 1</span></p>
        <ul class="rating">
                
          <li><mat-icon>star</mat-icon></li>
          <li><mat-icon>star</mat-icon></li>
          <li><mat-icon>star</mat-icon></li>
          <li><mat-icon>star</mat-icon></li>
          <mat-icon>star_half</mat-icon>
         
    
      
      </ul>
      </div>
    </div>
    


   
   
  </div>
  <div class="price-details">
    <h6>Price Details</h6>
      <span style="padding-top: 10px;">
       <p>Price ({{cardItems.length}} items)</p><p>&#8377;{{price}}</p>
      </span>
      <span style="padding-bottom: 10px;">
        <p>discount</p><p>-1000</p>
       </span >
      <hr>
      <span style="padding: 10px 0px;"><p>Total Amount</p>&#8377;{{price-1000}}</span>
      <hr>
      <span style="padding-top: 10px;">
        <p>{{price-1000}}</p>
        <button class="btn bg-primary text-white " (click)="redirectToSales()">Checkout</button>
      </span>
      
    </div>
</div>


 




<router-outlet></router-outlet>
