
<!-- <div class="container">
    <div class="upper">
        <mat-icon>check</mat-icon>
       
        
    </div>
    <div class="lower">
        <span>Congartulations , Your order has been sucessfully placed.</span>
        <button class="btn" (click)="redirectToHome()">Continue</button>
        
    </div>
   
</div> -->

<div class="sucessfully">
    <h4 style="padding-bottom: 20px;">Your Smart Box is on the way!</h4>
    <p style="padding-bottom: 20px;">Order Number:#{{randomNumber}}</p>
    
   <img style="padding-bottom: 20px;" src="./assets/completed.png" alt="">
   <h4 style="padding-bottom: 20px;">Scheduled arrivel date</h4>
   <p>{{date}}</p>
</div>